.header {
  background-color: bisque;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom: 1px solid black;
}
